<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id ="hello" class="com.cg.springcore.beans.Hello"> <!-- init-method="init"
				destroy-method="destroy" scope="prototype"  -->
				
	
	
	<property name = "message" value="I love Java"></property>
	<property name="count" value="100"> </property> 
	
	<!-- <constructor-arg name="message" value="I love Python"></constructor-arg>
	<constructor-arg name="count" value="10000"></constructor-arg> -->
	</bean>
	
	<!-- <bean id="Cat" class="com.cg.springcore.beans.Cat"  primary="true"></bean>
	
	<bean id="animal" class="com.cg.springcore.beans.Dog"></bean> -->
	
	<!--<bean id="Pet" class="com.cg.springcore.beans.Pet" autowire="byType">  -->
	<!-- <bean id="Pet"  class="com.cg.springcore.beans.Pet" autowire="byName"> -->
	
	<!-- <bean id="cat"  class="com.cg.springcore.beans.Pet" autowire="constructor"> -->
	<!--  <constructor-arg name="name" value="Jimmy"></constructor-arg> -->
	<!--<property name="animal" ref="Dog"></property>  
	</bean>-->
	
	<bean id="bean" class="com.cg.springcore.beans.BeanPostProcesserClass"></bean>
	
	<bean id="factorybean" class="com.cg.springcore.beans.BeanFactoryPostProcessorClass"></bean>
	
</beans>