.first{
    padding:  30px;
    margin: 40px;
    border: black 20px solid;
    color: black;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 85%;
    
}