img{
    border-radius: 50% ;
    padding: 30px;
    margin: 30px;
    text-align: center;
   
}
ul li  {
    list-style: none;
    display: inline;
}

ul li a{
    padding: 10px ;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.myprofile{
    padding: 5px;
    border: 4px solid black;
    margin: 100px;
    text-align: center;
    color: black;
    
}