ul li  {
    list-style: none;
    display: inline;
}

ul li a{
    padding: 30px ;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
form{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background-image: url(./banner.jpg);
    
}