<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>mywebapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
	<context-param>
		<param-name>myContextParam</param-name>
		<param-value>1234</param-value>
	</context-param>
	
	
	<servlet>
	   <servlet-name>currentDate</servlet-name>
	   <servlet-class>com.capgemini.mywebapp.servlets.DateServlet</servlet-class>
	   
	   <init-param>
			<param-name>myConfigParam</param-name>
			<param-value>Hello</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>getEmployee</servlet-name>
		<servlet-class>com.capgemini.mywebapp.servlets.GetEmployeeServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>searchEmployeeJsp</servlet-name>
		<jsp-file>/searchEmployeeJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>currentDate</servlet-name>
		<url-pattern>/currentDate</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	        <servlet-name>getEmployee</servlet-name>
	        <url-pattern>/getEmployee</url-pattern>
	   
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>loginFormJsp</servlet-name>
		<jsp-file>/loginFormJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>loginFormJsp</servlet-name>
		<url-pattern>/loginFormJsp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>searchEmployeeJsp</servlet-name>
		<url-pattern>/searchEmployeeJsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteEmployeeJsp</servlet-name>
		<jsp-file>/deleteEmployeeJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteEmployeeJsp</servlet-name>
		<url-pattern>/deleteEmployeeJsp</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>homePageJsp</servlet-name>
		<jsp-file>/homePageJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>homePageJsp</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addEmployeeJsp</servlet-name>
		<jsp-file>/addEmployeeJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addEmployeeJsp</servlet-name>
		<url-pattern>/addEmployee2</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>updateJsp</servlet-name>
		<jsp-file>/updateJsp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>updateJsp</servlet-name>
		<url-pattern>/updateJsp</url-pattern>
	</servlet-mapping>
	
	
	
	
</web-app>